// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot?1421584686);
  src: url(../fonts/glyphicons-halflings-regular.eot?&1421584686#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff2?1421584686) format("woff2"), url(../fonts/glyphicons-halflings-regular.woff?1421584686) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf?1421584686) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg?1421584686#glyphicons_halflingsregular) format("svg");
}

footer {
  bottom: 0;
  width: 100%;
  
  height: 60px;
  background-color: #E5E5E5;
}

.footer-block { margin-top: 15px; }

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

