{% extends 'master.twig' %}



{% block main %}
    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter une photo</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="{{UrlAddPhoto}}">
                        <div class="form-group">
                            <label for="inputadresse" class="col-sm-2 control-label">Adresse</label>
                            <div class="col-sm-10">
                                <input type="text" name="addresspicker_map" class="form-control" id="addresspicker_map" placeholder="saisir l'adresse de la photo ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputtitre" class="col-sm-2 control-label">Titre</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control"  placeholder="Votre titre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlocalite" class="col-sm-2 control-label">localité</label>
                            <div class="col-sm-10">
                                <input type="text" name="localite" class="form-control" id="locality" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputpays" class="col-sm-2 control-label">Pays</label>
                            <div class="col-sm-10">
                                <input type="text" name="pays" class="form-control" id="country" readonly >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputcpostal" class="col-sm-2 control-label">code postal</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="postal_code" readonly >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlat" class="col-sm-2 control-label">Lat</label>
                            <div class="col-sm-10">
                                <input type="text" name="lat" class="form-control" id="lat" readonly >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlng" class="col-sm-2 control-label">Lng</label>
                            <div class="col-sm-10">
                                <input type="text" name="lng" class="form-control" id="lng" readonly >
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="inputlng" class="col-sm-2 control-label"></label>

                            <span class="col-sm-10">
                                <input name='image[]' type="file" />
                            </span>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Ajouter la photo</button>
                            </div>
                        </div>
                        {% if message!='' %}
                            <div class="alert {{alert}} text-center" role="alert">{{message}}</div>
                        {% endif %}
                    </form>
                </div>
            </div>

        </div>


        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">liste de mes photos</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {% for p in photos %}
                        </li><li class="col-md-4 col-xs-12 col-sm-6 ">
                        <div class="thumbnail">
                            <img src="{{urlBase}}/{{p.url}}" alt="">
                            <div class="caption text-center ">
                                <h5 class="label label-primary">{{p.name|upper}}</h5>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
                
        </div>
                {% if photos |length == 0 %}
                <div class="alert alert-warning text-center" role="alert">vous n'avez aucune image <i class="fa fa-frown-o fa-2x"></i></div>
                {% endif %}
                </div>
</div>
</div>
{% endblock%}