
 
 <footer id="footer ">
  <div class="container ">
        <p class="footer-block"><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <a href="#">lp cisiie 2014-2015</a>
        </p>    
        </div>
</footer>

    <script src="{{ urlBase }}/App/template/leaflet/leaflet.js"></script>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js'></script>
<script type="text/javascript" src="{{ urlBase }}/App/template/appJs/library.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script> 
    <script src="{{ urlBase }}/App/template/bootstrap/javascripts/js/jquery.js"></script>
    <script src="{{ urlBase }}/App/template/bootstrap/javascripts/bootstrap.min.js"></script>
    {% if viewAddPhotos==1 %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ urlBase }}/App/template/appJs/jquery.ui.addresspicker.js"></script>
    <script src="{{ urlBase }}/App/template/appJs/autocomplate.js"></script>
    {% endif %}
    <script src="{{ urlBase }}/App/template/appJs/app.js"></script>
  
    

 <script>
    app.factory('getInfoPart',function($http,$q,$timeout){

        var factory = {
            partData : false,
            infos : function(){
                var deferred= $q.defer();
                if (factory.partData !== false) {
                    deferred.resolve(factory.partData)
                }else{

                    $http.get('{{url}}')
                    .success(function(data,statuts){
                        factory.partData = data;
                        
                        $timeout(function() {
                            deferred.resolve(factory.partData);   
                        }, 100);
                        
                    })
                    .error(function(data,statuts){
                        deferred.reject('Impossible de recuperer les informations de la partie');
                    });
                }

                
                return deferred.promise;
            }
        }
        return factory;
    });

    app.factory('getInfoPhotos',function($http,$q,$timeout){

            var factory = {
                PhotoData : false,
                getPhotos : function(){
                    var deferred= $q.defer();
                    if (factory.PhotoData !== false) {
                        deferred.resolve(factory.PhotoData)
                    }else{

                        $http.get('{{urlPhotos}}')
                        .success(function(data,statuts){
                            factory.PhotoData = data;
                            
                            $timeout(function() {
                                deferred.resolve(factory.PhotoData);   
                            }, 100);
                            
                        })
                        .error(function(data,statuts){
                            deferred.reject('Impossible de recuperer les photos');
                        });
                    }

                    
                    return deferred.promise;
                }
            }
            return factory;
    });

    app.factory("game", function () {
      
        return {
            url : '{{url}}'
        }
          
    })

 </script>