<div class="row" id="contentPart">
    
    <div>
         <h1 style="display:inline-block;" class="pull-right "  >
            Score: <strong id="score"></strong> pts
        </h1>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" id="photo">
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" id="bar"  role="progressbar" aria-valuemin="0" >
            </div>
        </div>
        <a href="#" class="thumbnail">
            <img id="monImage" src="" alt="">
        </a>
        
    </div>
 
    <div class="col-md-8 col-sm-8 col-xs-8 thumbnail" id="map"  style="min-height: 360px;" ng-init="mapShow()" >
       
    </div>
    <div id="screen">
    </div>
    <div id="grey">
        
    </div>

</div>