<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ urlBase }}/App/template/bootstrap/stylesheets/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{ urlBase }}/App/template/bootstrap/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{ urlBase }}/App/template/leaflet/leaflet.css" />
    {% if viewAddPhotos==1 %}
    <link rel="stylesheet" type="text/css" href="{{ urlBase }}/App/template/bootstrap/css/jquery.ui.all.css" />
    {% endif %}
   
    <title>Jouer en ligne gratuitement sans inscription</title>
</head>
