{% extends 'master.twig' %}



{% block main %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">connexion</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="{{loginFormUrl }}">
                        <div class="form-group">
                            <label for="inputlogin" class="col-sm-2 control-label">email</label>
                            <div class="col-sm-10">
                                <input type="text" name="email" class="form-control" id="pseudo" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputpasswprd" class="col-sm-2 control-label">password</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control" id="inputville" placeholder="password">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Connexion</button>
                                 <a class="inscription" href="{{UrlInscription}}">vous n avez pas encore de compte?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                    {% if message!="" %}
                        <div class="alert alert-danger text-center" role="alert">{{message}}</div>
                    {% endif %}
                    </div>

    </div>



{% endblock%}