{% extends 'master.twig' %}
{% block main %}

    <div class="row">
         <h1>PhotoLocate.fr</h1>
           <small class="hidden-xs"> Un jeu amusant où tu dois positionner une photo sur la carte de ta ville
           sans te tromper et plus vite que les autres !</small>
           </br>
           </br>
        <div class="col-md-offset-3 col-md-6 ">
           

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Commencer une nouvelle partie</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="{{actionUrl }}">
                        <div class="form-group">
                            <label for="inputpseudo" class="col-sm-2 control-label">pseudo</label>
                            <div class="col-sm-10">
                                <input type="text" name="pseudo" value="{{pseudo}}" class="form-control" id="pseudo" placeholder="pseudo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputville" class="col-sm-2 control-label">ville</label>
                            <div class="col-sm-10">
                                <select name="ville" class="form-control">
                                    {% for v in villes%}
                                        <option value="{{v.id}}">{{v.name}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="niveau"  value="1"> Niveau 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="niveau"  value="2"> Niveau 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="niveau"  value="3"> Niveau 3
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Jouer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% if message!="" %}
                <div class="alert alert-danger text-center" role="alert">Veuillez choisir un pseudo et un niveau !</div>
            {% endif %}

        </div>

    </div>



{% endblock%}