{% extends 'master.twig' %}



{% block main %}

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Inscription</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="{{inscriptionUrlForm }}">
                        <div class="form-group">
                            <label for="inputpseudo" class="col-sm-2 control-label">pseudo</label>
                            <div class="col-sm-10">
                                <input type="text" name="pseudo" class="form-control" id="pseudo" placeholder="pseudo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlogin" class="col-sm-2 control-label">email</label>
                            <div class="col-sm-10">
                                <input type="text" name="email" class="form-control"  placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputpasswprd" class="col-sm-2 control-label">password</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control" placeholder="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputpasswprd2" class="col-sm-2 control-label">repeat password</label>
                            <div class="col-sm-10">
                                <input type="password" name="password2" class="form-control" placeholder="repeat password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Inscription</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if message!="" %}
                <div class="alert {{alert}}" role="alert">{{message}}</div>
            {% endif %}
        </div>

    </div>



{% endblock%}
