<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >

    {% include 'head.twig' %}

    <body>   


        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{home}}" class="navbar-brand">PhotoLocate</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="{{home}}"> <i aria-hidden="true" class="glyphicon glyphicon-home"></i> Home</a></li>
                        <li ><a href="{{UrlScore}}"> <i aria-hidden="true" class="glyphicon glyphicon-flag"></i> Meilleurs scores </a></li>
                            {% if session==1 %}
                            <li ><a href="{{addPhotos}}"> <i aria-hidden="true" class="glyphicon glyphicon-picture"></i> Ajouter des photos</a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" role="login">
                        {% if session==0 %}
                            <a href="{{pageLoginForm}}" class="btn btn-success"><span class="glyphicon glyphicon-user" ></span> login</a>
                        {% elseif session==1 %}
                            <a href="{{logout}}" class="btn btn-success"><span class="glyphicon glyphicon-user" ></span> logout</a>
                        {% endif %}

                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </nav>




        <div class="container" style='min-height: 450px;'>
            {% block main %}


            {% endblock %}
        </div>
        <div class="hidden-xs hidden-md">
        {% include 'footer.twig'%}

    </div>
    </body>
</html>