{% extends 'master.twig' %}



{% block main %}
{% set i = 1 %}
    <div class="row">
        <center><h1>Les meilleurs scores<h1></center>
        <div class="col-md-4 hidden-xs ">
                     <img src="{{urlBase}}/App/template/images/classementlogo.JPG" class="img-responsive" alt="Responsive image img-rounded">
        </div> 
          <div class="col-md-7">
            
                      <div class="panel-body">
                   <table class="table table-striped warning table-hover">
                        <tr><th>N°</th>
                        <th>Pseudo</th>
                            <th>Score</th>
                        </tr>
                        {% for part in parts %}

                         <TR>
                            <TD>{{ i }}</td>
                            <TD>{{ part['pseudo_user'] }}</TD> 
                             <TD>{{ part['Topscore'] }}</TD> 
                        </TR>
                        {% set i = i+1 %}
                    {% endfor %}

                   </table>
                </div>
            </div>
               

        </div>      
{% endblock%}